* {
    font-family: "Poppins", sans-serif;
}

body {
    background: radial-gradient(circle at top right, #ffd190 0%, #ffffff 20%);
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    margin: 2% 9.4% 4.4% 9.4%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 0.7% 0;
}

.orange-part {
    color: #fb9333;
}

.header-nav {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 34%;
}

.header-link {
    text-decoration: none;
    color: #575757;
    margin: 0.7% 0;
    transition: color 0.4s ease-in-out;
}

.header-link:hover {
    color: #fb9333;
}

.sign-btn {
    background-color: #fb9333;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    padding: 1.2% 3.3%;
    transition: background-color 0.4s ease-in-out;
}

.sign-btn:hover {
    background-color: #ffa94d;
}

.main {
    display: flex;
}

.main-image {
    width: 50%;
    position: relative;
}

/* Banner */

.banner {
    margin-left: 9.5%;
    width: 50%;
}

.banner-subheader span {
    background-color: #fff0dc;
    color: #fb9333;
    font-weight: 600;
    border: none;
    border-radius: 100px;
    padding: 2.5%;
}

.banner-header {
    color: #575757;
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 2.1%;
}

.banner-text {
    color: #828282;
    font-weight: 400;
    font-size: 20px;
}

.banner-more-btn {
    text-decoration: none;
    background-color: #fb9333;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    padding: 2.3% 4.3%;
    margin-top: 2.1%;
    transition: background-color 0.4s ease-in-out;
}

.banner-more-btn:hover {
    background-color: #ffa94d;
}

/* Features 5000+... */
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 6.1%;
}

.feature {
    width: 30%;
}

.feature h3 {
    color: #575757;
    font-size: 24px;
    margin-bottom: 0%;
}

.feature span {
    color: #828282;
    font-size: 16px;
}

/* aside */
.rating {
    background-color: #fff;
    border: none;
    border-radius: 35px;
    align-items: center;
    display: flex;
    position: absolute;
    top: 570px;
    width: 35%;
}

.rating-emoji {
    margin: 2% 0 2% 1%;
}

.rating-header {
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0%;
    margin-bottom: 0%;
}

.rating-aside {
    display: inline-flex;
    justify-content: space-between;
    width: 77%;
}

.rating-aside-text {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.rating-text {
    color: #828282;
    font-size: 12px;
}

.rating-text-bold {
    color: #575757;
    font-weight: bold;
}

.calories {
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 28px;
    display: flex;
    position: absolute;
    top: 540px;
    left: 65%;
    width: 22%;
    flex-direction: column;
}

.calories-header {
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0%;
    margin-left: 15%;
    margin-right: 15%;
}

.calories-text {
    color: #575757;
    font-weight: 500;
    font-size: 24px;
    margin-left: 15%;
}

.calories-text-bold {
    color: #2b2b2b;
    font-weight: bold;
    font-size: 24px;
}

.calories-progress {
    height: 80%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10% 0 10% 16.7%;
}

.calories-progress-bar {
    background-color: #f5f5f5;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 100px;
    height: 9vh;
    width: 8%;
}

.calories-progress-bar-in {
    background: linear-gradient(to bottom, #ffe1c2 0%, #fd9533 95%);
    border: none;
    border-radius: 100px;
    width: 100%;
}

#calor-1 {
    height: 60%;
}

#calor-2 {
    height: 40%;
}

#calor-3 {
    height: 20%;
}

#calor-4 {
    height: 70%;
}

#calor-5 {
    height: 50%;
}

#calor-6 {
    height: 30%;
}

#calor-7 {
    height: 10%;
}

#calor-8 {
    height: 72%;
}

.main-image-person {
    width: 100%;
}

.main-image-person:active {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Benefits */
.benefits {
    margin: 9.5% 7%;
}

.benefits-header {
    color: #585858;
    font-size: 48px;
    font-weight: 500;
}

.benefits-description {
    color: #828282;
    font-size: 20px;
    font-weight: 400;
    padding-top: 1.7%;
}

.benefits-subheader {
    display: flex;
    justify-content: space-between;
}

.benefits-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 4.5%;
    gap: 35px;
}

.benefit {
    background-color: #ffffff;
    box-shadow: 0px 0px 8px 2px rgba(251, 147, 51, 0.4);
    border-radius: 50px;
    padding: 2.5% 2%;
    transition:
        transform 0.4s ease-in-out,
        box-shadow 0.4s ease-in-out;
}

.benefit:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(251, 147, 51, 0.35);
}

.benefit-learn {
    background-color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    padding: 4.5% 15%;
    width: 45%;
    transition:
        background-color 0.4s ease-in-out,
        color 0.4s ease-in-out;
}

.benefit-learn:hover {
    background-color: #fb9333;
    color: white;
}

.benefit-learn:hover .benefit-link {
    color: white;
}

.benefit-link {
    text-decoration: none;
    color: #575757;
    font-weight: 400;
    margin-right: 5.5%;
    transition: color 0.4s ease-in-out;
}

.benefit-arrow {
    transition: filter 0.4s ease-in-out;
}

.benefit-learn:hover .benefit-arrow {
    filter: brightness(0) invert(1);
}

.benefit-img {
    margin-bottom: 15%;
}

.benefit-name {
    font-size: 24px;
    font-weight: 500;
    color: #2b2b2b;
    margin-bottom: 5%;
}

.benefit-description {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10%;
}

/* comments */

.comments {
    display: flex;
    padding-bottom: 5%;
    background: linear-gradient(to bottom, #fff6ea 0%, #ffe8c787 100%);
}

.comments-header {
    color: #333333;
    font-size: 48px;
    font-weight: 500;
}

.comments-description {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8%;
}

.comments-counter-capital {
    color: #333333;
    font-size: 48px;
    font-weight: 600;
}

.comments-counter-lower {
    color: #cccccc;
    font-size: 16px;
    font-weight: 600;
    margin-top: 6.7%;
    margin-left: 2%;
}

.comments-counter {
    display: flex;
    margin-top: 15%;
}

.comments-btns {
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
    width: 29%;
}

.comments-btn {
    background-color: #ffc87a;
    border: none;
    border-radius: 10px;
    padding: 14% 16% 10.5% 16%;
    transition: background-color 0.4s ease-in-out;
}

.comments-btn:hover {
    background-color: #fb9333;
}

.comments-left-header {
    flex-direction: column;
    width: 30%;
    margin: 6% 0 6% 8%;
}

.comments-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 70%;
    margin-left: 5%;
    overflow: hidden;
}

.comment {
    background-color: #fffdf9;
    border-radius: 8px;
    height: 57%;
    margin-top: 20%;
    padding: 4%;
    width: 23%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out;
}

.comment:hover {
    transform: scale(1.03);
}

.comment-customer {
    position: absolute;
    top: -50px;
}

.comment-name {
    color: #2b2b2b;
    font-size: 24px;
    font-weight: 500;
    margin-top: 35%;
    margin-bottom: 0;
}

.comment-year {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

.comment-text {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 7% 5%;
    align-items: center;
}

.menu-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
}

.menu-subheader {
    color: #fb9333;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.menu-header {
    color: #585858;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.menu-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.03);
}

.menu-img {
    width: 100%;
    border-radius: 40px;
}

.menu-underimage {
    position: absolute;
    display: flex;
    bottom: -30px;
    left: 25px;
    flex-direction: column;
    color: #ffffff;
    gap: 5px;
}

.menu-name {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -50px;
}

.menu-price {
    font-size: 40px;
    font-weight: bold;
}

.subscribe {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 50px;
    position: relative;
    margin: 5% 10%;
    background:
        url("images/lines.svg") no-repeat center center,
        rgba(255, 241, 222, 1);
    background-size: cover, cover;
}

.section-subheader {
    color: #fb9333;
    font-size: 20px;
    font-weight: 400;
    align-self: center;
}

.section-header {
    color: #585858;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.subscribe-description {
    color: #575757;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: -1%;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5% 30% 10% 30%;
    width: 40%;
    padding: 5px;
    border-radius: 100px;
    background-color: white;
}

.subscribe-input {
    border: none;
    font-size: 18px;
    color: #575757;
    background-color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 100px;
    padding: 20px;
    flex-grow: 1;
}

.subscribe-btn {
    background-color: #fb9333;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 100px;
    padding: 2% 3.5%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.subscribe-btn:hover {
    background-color: #ffa94d;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15% 8% 3% 8%;
}

.footer-logo h4 {
    color: #585858;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 17.5%;
    margin-top: 7.5%;
}

.footer-text {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35%;
}

.footer-undertext {
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 400;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-nav h4 {
    color: #fb9333;
    font-size: 16px;
    font-weight: 500;
}

.footer-link {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}

.footer-link:hover {
    color: #fb9333;
}

.footer-touch {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-touch h4 {
    color: #fb9333;
    font-size: 16px;
    font-weight: 500;
}

.footer-touch-line {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-touch-text {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5%;
}

#foot-email {
    margin-left: 2%;
}

#foot-phone {
    margin-left: 3%;
}

.footer-touch-link {
    text-decoration: none;
}

.footer-social {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 1.5%;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-text {
    color: #575757;
    font-size: 16px;
    font-weight: 400;
}
